
@{
    ViewData["Title"] = "Home Page";
}
@model List<HomeViewModel.FloorViewModel> 
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="container h-100 my-4">
    @foreach (var floor in Model)
    {
        <div class="d-flex mb-3">
            <div class="floor bg-dark text-lg-center text-white">
                @floor.FloorName
            </div>
            <div class="btn-group dropend">
                @if (floor.Rooms != null && floor.Rooms.Count > 0)
                {
                    <ul>
                        @foreach (var room in floor.Rooms)
                        {
                            <button class="room btn btn-success room text-lg-center text-white ms-2 rounded-3" data-bs-toggle="dropdown" aria-expanded="false">
                                <span>
                                    Room:  @room.RoomName
                                </span>
                                <div class="rounded-1">
                                    @if (room.StatusId == 2) // Kiểm tra nếu trạng thái là 2
                                    {
                                        <span class="time">Start Time: </span>

                                        <br />
                                        ///<span id="clock">Time: </span>
                                    }
                                </div>
                                <div>
                                    @if (room.StatusId == 2) // Kiểm tra nếu trạng thái là 2
                                    {
                                        <span class="customer-name"></span>
                                        // Hiển thị tên khách hàng
                                    }
                                    else
                                    {
                                        <span></span>
                                    }
                                </div>
                            </button>
                        }
                    </ul>
                }
            </div>
        </div>
    }
 </div>

 


